body{
  margin: 0;
  text-align: center;
  font-family: 'Lekton', sans-serif;
}
p{
  color: #6e5773;
  font-weight: normal;
  font-size: 17px;
}
table{
  position: relative;
  right: 20px;
  bottom: 15px;
  color: #6e5773;
  font-weight: normal;
  font-size: 17px;
}
a{
  color: #d45d79;
  margin: 0 20px 0 20px;
  font-family: 'Lekton', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #ea9085;
}

h1{
  margin: 20px auto 0 auto;
  font-family: 'Reenie Beanie', cursive;
  font-size: 80px;
  color: #d45d79;
  line-height: 1.9;
}
h2{
  font-family: 'Syne Mono', monospace;
  color: #ea9085;
  font-size: 35px;
}
h3{
  font-family: 'Syne Mono', monospace;
  color: #ea9085;
  font-size: 24px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #cccccc;
  border-width: 10px;
  height: 0;
  width: 7%;
}
.top_container{
  background-color: #fcecdd;
}

.middle-container{
  background-color: #eeeeee;
}

.bottom-container{
  background-color: #fcecdd;
  margin: 0;
  padding: 50px 0 20px;
  font-family: 'Lekton', sans-serif;
}
.profile_pic{
  width: 10%;
  margin: 60px auto 40px auto;
}
.title_cake{
  padding-top: 25px;
  width: 45%;
  position: relative;
  top: 4px;
}

.donuts{
  width: 24%;
  padding-top: 20px;
  padding-bottom: 30px;
}
.small_img_1{
  width: 25%;
  float: left;
  padding-right: 40px;
  padding-bottom: 30px;
}
.small_img_2{
  width: 25%;
  float: right;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 20px;
}
.small_img_3{
  width: 26%;
  float: left;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.small_img_4{
  width: 24%;
  float: right;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.small_img_5{
  width: 30%;
}

.contact_img{
  width: 10%;
  margin-bottom: 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row-1  {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.bookstore_pic{
  width: 20%;
  margin: 20px 10px 0 10px;
}

.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Lekton', sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: #d45d79;
  padding: 9px 13px 10px 13px;
  text-decoration: none;
}

.btn:hover {
  background: #ea9085;
  text-decoration: none;
}

.copywrite {
  color: #ea9085;
  font-size: 12px;
}
